<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Boolflix</title>
</head>

<body>
    <div id="app">

        <input type="text" v-model="textToSearch" @keyup.enter="searchToClick">
        <button @click="searchToClick">Cerca</button>


        <ul>Film
            <li v-for="movies in movieList">
                <img :src="'https://image.tmdb.org/t/p/w342' + movies.poster_path" alt="">
                <p>Titolo :{{movies.title}}</p>
                <p>Titolo Orgiginale:{{movies.original_title}}</p>
                <span>Lingua</span> <span :class="'flag-icon flag-icon-' + movies.original_language"></span>           
                <p v-for="stars in createStars(movies.vote_average)">
                    {{stars}}
                </p>
              
            </li>

        </ul>
        <ul>Serie Tv
            <li v-for="series in tvSeriesList">
                <img :src="'https://image.tmdb.org/t/p/w342' + series.poster_path" alt="">
                <p>Titolo :{{series.title}}</p>
                <p>Titolo Orgiginale:{{series.original_title}}</p>
                <span>Lingua</span> <span :class="'flag-icon flag-icon-'+ series.original_language"></span>
                <p>Voto:{{createStars(series.vote_average)}}</p>

            </li>
        </ul>
    </div>


    <script src="app.js"></script>
</body>

</html>