<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Boolflix</title>
</head>

<body>
    <div id="app">

        <nav class="display-flex">
            <img src="img/boolflix.png" alt="logo-boolflix">
            <div>
                <input type="text" v-model="textToSearch" @keyup.enter="searchToClick"
                    placeholder="Cerca Film o Serie TV">
                <i class="fa fa-search" aria-hidden="true" @click="searchToClick"></i>
            </div>

        </nav>

        <div class="filmcontainer display-flex column">
            <div v-if="listafilm" class="barra">Film</div>
            <div class="display-flex flex-wrap">

                <div class="card display-flex column" v-for="movies in movieList">
                    <img :src="getImgSrc(movies)" alt="immaginefilm">
                    <div class="imgcard">
                        <div class="credits">
                            <p>Titolo :{{movies.title}}</p>
                            <p>Titolo Orgiginale:{{movies.original_title}}</p>
                            <span>Lingua</span> <span :class="'flag-icon flag-icon-' + movies.original_language"></span>
                            <i class="fa fa-star" aria-hidden="true"
                                v-for="stars in createStarsFull(movies.vote_average)"></i><i class="fa fa-star-o"
                                aria-hidden="true" v-for="strasempty in createStarsEmpty(movies.vote_average)"></i>
                            <p>Trama:{{movies.overview}}</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="barra" v-if="listafilm">Serie </div>
            <div class="display-flex flex-wrap">

                <div class="card display-flex column" v-for="series in tvSeriesList">
                    <img  :src="getImgSrc(series)" alt="immagineserie">
                    <div class="imgcard">
                        <div class="credits">
                            <p>Titolo : {{series.title}}</p>
                            <p>Titolo Orgiginale : {{series.original_title}}</p>
                            <span>Lingua</span> <span :class="'flag-icon flag-icon-'+ series.original_language"></span>
                            <i class="fa fa-star" aria-hidden="true"
                                v-for="stars in createStarsFull(series.vote_average)"></i><i class="fa fa-star-o"
                                aria-hidden="true" v-for="strasempty in createStarsEmpty(series.vote_average)"></i>
                            <p>Trama : {{series.overview}}</p>
                        </div>

                    </div>



                </div>

            </div>
        </div>




    </div>



    <script src="app.js"></script>
</body>

</html>