<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Boolflix</title>
</head>

<body>
    <div id="app">

        <input type="text" v-model="textToSearch" @keyup.enter="searchToClick">
        <button @click="searchToClick">Cerca</button>


        <ul>Film
            <li v-for="movies in movieList">
                <p>{{movies.title}}</p>
                <p>{{movies.original_title}}</p>
                <p>{{movies.original_language}}</p>
                <p>{{movies.vote_average}}</p>

            </li>
        </ul>
        <ul>Serie Tv
            <li v-for="series in tvSeriesList">
                <p>{{series.title}}</p>
                <p>{{series.original_title}}</p>
                <p>{{series.original_language}}</p>
                <p>{{series.vote_average}}</p>
            </li>

        </ul>
        

    </div>


    <script src="app.js"></script>
</body>

</html>